.logout-form {
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: auto;
  font-size: 20px;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputbox {
  margin: 30px;
  align-items: center;
}
