.grid-container {
  display: grid;
}

.background-img > img {
  width: 100%;
  height: 700px;
  left: 0;
  right: 0;
}

.places-card {
  display: flex;
  box-sizing: border-box;
  height: 80px;
  margin: 10px;
  text-decoration: none;
}

.places-card:visited,
.places-card:link {
  text-decoration: none;
  color: black;
}

.places-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 80px;
  padding-right: 80px;
}

places-card > img {
  width: 70px;
  height: 70px;
}
