.spot-container {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  height: 100%;
  display: grid;
  margin-bottom: 40px;
}

.profile-pic {
  grid-column-start: 2;
  grid-row-start: 0;
  grid-row-end: 1;
}
.calendar-div-container {
  display: flex;
  justify-content: flex-end;
}
.calendar-div {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  max-width: 392px;
  max-height: 392px;
}

.title {
  display: flex;
}

.images-container {
  overflow-y: hidden;
  border-radius: 12px;
  display: flex;
  max-height: 500px;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  margin-bottom: 40px;
}

.images-container div {
  object-fit: cover;
}

.body-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.house-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.hosted-by {
  display: grid;
  grid-template-columns: 14fr 1fr;
  grid-template-rows: 1fr;
}

.house-image img {
  height: 100%;
  width: 100%;
}

.house-price {
  font-size: 25px;
}
#first img {
  height: 100%;
  width: 100%;
}

.house-image {
  height: 50%;
  width: 50%;
}

.other-images {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#first {
  height: 100%;
  width: 50%;
}

.other-images div {
  display: flex;
  flex-wrap: wrap;
}
