.spot-container {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  height: 100%;
  display: grid;
}

.title {
  display: flex;
}

.images-container {
  display: flex;
  max-height: 500px;
  max-width: auto;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  margin-bottom: 40px;
}

.images-container div {
  object-fit: cover;
}

.house-info {
  display: flex;
  justify-content: space-between;
}

.hosted-by {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 500px;
}

.house-image img {
  height: 100%;
  width: 100%;
}

.calendar-div {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10%;
  display: flex;
  padding: 10px;
}

.house-price {
  font-size: 25px;
}
#first img {
  height: 100%;
  width: 100%;
}

.house-image {
  height: 50%;
  width: 50%;
}

.other-images {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#first {
  height: 100%;
  width: 50%;
}

.other-images div {
  display: flex;
  flex-wrap: wrap;
}
