.spot-container {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  height: 100%;
  display: grid;
}

.title {
  display: flex;
}

.images-container {
  display: flex;
  max-height: 600px;
}

.images-container > div {
  margin: 5px;
}

.house-info {
  display: flex;
  justify-content: space-between;
}

.hosted-by {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.house-image {
  height: fit-content;
}
