.logout-div {
  display: flex;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}
.logout-form {
  margin: 0.5em;
  display: flex;
  background-color: rgb(216, 113, 40);
  align-items: center;
  flex-wrap: wrap;
  width: 570px;
  height: 400px;
  font-size: 20px;
}

ul {
  color: red;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
