body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.navbar {
  display: flex;
  background-color: whitesmoke;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
}

.div-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
}

.icon-div {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: #ff385c;
  width: auto;
  height: auto;
  font-size: 45px;
  text-decoration: none;
  align-items: center;
}

.icon-div > a {
  text-decoration: none;
}

.icon-div > a:visited {
  text-decoration: none;
  color: #ff385c;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  align-items: center;
  border: 1px solid rgb(172, 171, 171);
}

.search-bar > input {
  border-radius: 30px;
  font-weight: 200;
  border: 0px none;
}
.search-bar > input::placeholder {
  font-weight: 600;
  color: rgb(41, 40, 40);
}

.search-bar > input:focus {
  outline: none;
}

.search-bar > button {
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
  height: 30px;
  margin: 10px;
  font-size: 15px;
}
