.user-icon {
  font-size: 20px;
  color: rgb(82, 82, 82);
  background-color: white;
}
.bars {
  padding-right: 5px;
  padding-left: 10px;
}

.icon-container {
  display: flex;
}

.icon-a {
  border: 1px solid rgb(155, 155, 155);
  padding: 5px;
  border-radius: 20px;
}

.user-info {
  position: absolute;
  display: flex;
  flex-flow: column;
  width: auto;
  border: 1px solid rgb(155, 155, 155);
  background-color: white;
  top: 80%;
  border-radius: 10px;
}

.user-info div {
  padding: 5px;
}
